## Create 2022Age Census Demo CSV

In [4]:
import pandas as pd

In [5]:
# For comma-separated values
age_2022_df = pd.read_csv('../censusoutputcsv/2022_census_age.csv', sep=',')

In [6]:
# Display dataframe head
age_2022_df.head()

,state,18_and_over_population_male,18_and_over_population_female,20_to_24_years\t,25_to_34_years,35_to_44_years,45_to_54_years,55_to_59_years,60_to_64_years\t,65_to_74_years\t,75_to_84_years\t,85_years_and_over\t,median_age(years)\t,state_id,congressional_district,year
0,Alabama,47.6,52.4,5.8,12.8,12.0,12.5,6.0,7.2,11.5,5.9,2.0,40.9,1,1,2022
1,Alabama,47.5,52.5,6.1,13.8,12.4,11.9,6.5,6.3,10.6,5.9,1.6,39.1,1,2,2022
2,Alabama,47.7,52.3,8.0,12.4,12.2,12.1,6.5,6.7,11.2,5.6,1.5,39.4,1,3,2022
3,Alabama,48.3,51.7,6.3,11.8,12.5,12.3,6.7,6.5,11.2,6.0,1.7,40.8,1,4,2022
4,Alabama,48.7,51.3,6.4,13.1,12.8,12.5,6.5,7.5,10.1,5.6,1.6,40.2,1,5,2022

In [4]:
# Remove unnecessary spaces
age_2022_df.columns = age_2022_df.columns.str.strip()

In [5]:
# Check dataframe columns
age_2022_df.columns

Index(['state', '18_and_over_population_male', '18_and_over_population_female',
       '20_to_24_years', '25_to_34_years', '35_to_44_years', '45_to_54_years',
       '55_to_59_years', '60_to_64_years', '65_to_74_years', '75_to_84_years',
       '85_years_and_over', 'median_age(years)', 'state_id',
       'congressional_district', 'year'],
      dtype='object')

In [6]:
# Check dataframe types
age_2022_df.dtypes

state                             object
18_and_over_population_male      float64
18_and_over_population_female    float64
20_to_24_years                   float64
25_to_34_years                   float64
35_to_44_years                   float64
45_to_54_years                   float64
55_to_59_years                   float64
60_to_64_years                   float64
65_to_74_years                   float64
75_to_84_years                   float64
85_years_and_over                float64
median_age(years)                float64
state_id                           int64
congressional_district             int64
year                               int64
dtype: object

In [7]:
# Drop 'state_id' and 'congressional_district' columns
age_2022_df = age_2022_df.drop(columns=['state_id', 'congressional_district'])

# Display the updated DataFrame
age_2022_df

,state,18_and_over_population_male,18_and_over_population_female,20_to_24_years,25_to_34_years,35_to_44_years,45_to_54_years,55_to_59_years,60_to_64_years,65_to_74_years,75_to_84_years,85_years_and_over,median_age(years),year
0,Alabama,47.6,52.4,5.8,12.8,12.0,12.5,6.0,7.2,11.5,5.9,2.0,40.9,2022
1,Alabama,47.5,52.5,6.1,13.8,12.4,11.9,6.5,6.3,10.6,5.9,1.6,39.1,2022
2,Alabama,47.7,52.3,8.0,12.4,12.2,12.1,6.5,6.7,11.2,5.6,1.5,39.4,2022
3,Alabama,48.3,51.7,6.3,11.8,12.5,12.3,6.7,6.5,11.2,6.0,1.7,40.8,2022
4,Alabama,48.7,51.3,6.4,13.1,12.8,12.5,6.5,7.5,10.1,5.6,1.6,40.2,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,Wisconsin,50.4,49.6,6.3,11.6,12.3,12.0,6.9,7.9,12.0,6.2,2.3,42.7,2022
433,Wisconsin,50.7,49.3,4.9,10.5,11.8,12.0,7.5,8.4,13.6,6.8,2.2,45.4,2022
434,Wisconsin,50.0,50.0,5.7,12.2,12.6,12.1,7.4,7.2,11.4,5.4,2.0,41.3,2022
435,Wyoming,51.0,49.0,6.3,12.5,14.0,11.1,6.0,6.6,11.8,5.4,1.4,39.1,2022
436,Puerto Rico,46.6,53.4,6.7,12.6,12.4,12.6,6.7,6.9,11.9,8.6,3.0,44.7,2022

In [8]:
# Check for null values in the entire DataFrame
null_values = age_2022_df.isnull().sum()

# Display columns with null values
print(null_values[null_values > 0])

Series([], dtype: int64)

In [9]:
# Group by 'State' and calculate the median of 'Median_Age' to reduce rows 
st_medians_df = age_2022_df.groupby('state')['median_age(years)'].median().reset_index()

st_medians_df['median_age(years)'] = st_medians_df['median_age(years)'].astype(int)

# Rename the columns if desired
st_medians_df.columns = ['state', 'median_age(years)']

# Display the results
print(st_medians_df)

                    state  median_age(years)
0                 Alabama                 39
1                  Alaska                 35
2                 Arizona                 41
3                Arkansas                 39
4              California                 38
5                Colorado                 37
6             Connecticut                 40
7                Delaware                 41
8    District of Columbia                 34
9                 Florida                 42
10                Georgia                 37
11                 Hawaii                 40
12                  Idaho                 37
13               Illinois                 40
14                Indiana                 38
15                   Iowa                 39
16                 Kansas                 37
17               Kentucky                 39
18              Louisiana                 38
19                  Maine                 45
20               Maryland                 39
21          Massachusetts                 40
22               Michigan                 40
23              Minnesota                 38
24            Mississippi                 39
25               Missouri                 38
26                Montana                 40
27               Nebraska                 36
28                 Nevada                 39
29          New Hampshire                 43
30             New Jersey                 41
31             New Mexico                 40
32               New York                 40
33         North Carolina                 38
34           North Dakota                 36
35                   Ohio                 40
36               Oklahoma                 36
37                 Oregon                 40
38           Pennsylvania                 42
39            Puerto Rico                 44
40           Rhode Island                 40
41         South Carolina                 40
42           South Dakota                 38
43              Tennessee                 39
44                  Texas                 36
45                   Utah                 31
46                Vermont                 43
47               Virginia                 39
48             Washington                 38
49          West Virginia                 42
50              Wisconsin                 40
51                Wyoming                 39

In [10]:
# List of columns with percentage data to convert to fractions for averaging
columns_to_convert = [
    '18_and_over_population_male',
    '18_and_over_population_female',
    '20_to_24_years',
    '25_to_34_years',
    '35_to_44_years',
    '45_to_54_years',
    '55_to_59_years',
    '60_to_64_years',
    '65_to_74_years',
    '75_to_84_years',
    '85_years_and_over',
]

# Convert the columns to fractions by dividing by 100
age_2022_df[columns_to_convert] = age_2022_df[columns_to_convert] / 100

# Group by 'state' and calculate the average of all numerical columns
state_averages2022_df = age_2022_df.groupby('state').mean().reset_index()

# Convert the specific columns back to plain numbers with one or two decimal places
state_averages2022_df[columns_to_convert] = state_averages2022_df[columns_to_convert] * 100

# Format the specific columns to show as plain numbers with two decimal places
for col in columns_to_convert:
    state_averages2022_df[col] = state_averages2022_df[col].map(lambda x: round(x, 2))

# Display the results
state_averages2022_df

,state,18_and_over_population_male,18_and_over_population_female,20_to_24_years,25_to_34_years,35_to_44_years,45_to_54_years,55_to_59_years,60_to_64_years,65_to_74_years,75_to_84_years,85_years_and_over,median_age(years),year
0,Alabama,47.60,52.40,6.80,12.86,12.47,12.17,6.27,6.73,10.77,5.57,1.69,39.528571,2022.0
1,Alaska,53.20,46.80,7.10,15.50,14.30,11.20,5.90,5.90,9.40,3.70,0.80,35.900000,2022.0
2,Arizona,49.64,50.36,7.11,13.86,12.58,11.61,5.66,6.20,10.63,6.42,1.78,39.100000,2022.0
3,Arkansas,48.75,51.25,6.90,12.62,12.70,11.95,6.00,6.60,10.38,5.58,1.78,39.075000,2022.0
4,California,49.39,50.61,6.75,14.74,13.83,12.51,6.04,5.98,9.14,4.82,1.83,37.959615,2022.0
5,Colorado,50.54,49.46,6.78,15.71,14.72,12.06,5.61,6.16,9.61,4.58,1.45,37.950000,2022.0
6,Connecticut,48.16,51.84,6.70,12.42,12.72,12.56,7.08,7.12,10.54,5.50,2.22,40.900000,2022.0
7,Delaware,47.70,52.30,5.90,12.80,12.30,11.10,6.40,7.70,12.50,6.50,1.90,41.500000,2022.0
8,District of Columbia,46.50,53.50,7.20,21.60,16.60,10.70,4.60,4.90,7.50,4.10,1.40,34.900000,2022.0
9,Florida,48.38,51.62,6.03,12.54,12.60,12.30,6.62,6.83,11.67,7.33,2.49,43.200000,2022.0
10,Georgia,47.79,52.21,7.08,13.61,13.46,12.82,6.23,5.99,9.14,4.59,1.32,37.657143,2022.0
11,Hawaii,50.70,49.30,6.20,13.20,13.35,11.80,5.95,6.35,11.30,6.55,2.60,40.800000,2022.0
12,Idaho,49.85,50.15,7.30,12.90,13.20,11.30,5.60,6.00,10.30,5.10,1.60,37.550000,2022.0
13,Illinois,48.71,51.29,6.76,13.43,13.30,12.36,6.34,6.43,10.04,5.22,1.95,39.241176,2022.0
14,Indiana,48.93,51.07,7.18,12.99,12.68,11.94,6.07,6.51,10.09,5.13,1.73,38.166667,2022.0
15,Iowa,49.80,50.20,7.25,12.55,12.68,11.30,5.92,6.68,10.67,5.62,2.15,38.950000,2022.0
16,Kansas,49.83,50.18,7.45,12.83,13.00,11.03,5.83,6.28,10.10,5.12,2.00,37.525000,2022.0
17,Kentucky,48.92,51.08,6.68,13.02,12.63,12.35,6.22,6.80,10.60,5.22,1.72,39.450000,2022.0
18,Louisiana,48.08,51.92,6.87,12.92,13.35,11.62,5.72,6.90,10.30,5.17,1.53,38.150000,2022.0
19,Maine,49.00,51.00,5.75,11.95,12.30,12.25,7.35,8.00,13.40,6.80,2.40,45.150000,2022.0
20,Maryland,47.75,52.25,6.17,13.09,13.61,12.54,6.62,6.76,9.86,5.16,1.89,39.712500,2022.0
21,Massachusetts,48.17,51.83,7.04,13.91,13.01,12.28,6.79,6.86,10.47,5.46,2.10,40.522222,2022.0
22,Michigan,49.08,50.92,6.85,13.13,12.15,11.98,6.46,7.13,11.19,5.51,2.02,40.307692,2022.0
23,Minnesota,49.91,50.09,6.36,13.01,13.69,11.45,6.10,6.90,10.18,5.16,2.04,39.150000,2022.0
24,Mississippi,47.65,52.35,7.10,11.95,12.93,12.00,5.67,6.78,10.55,5.22,1.65,38.925000,2022.0
25,Missouri,48.75,51.25,6.65,13.11,12.86,11.56,6.08,6.95,10.54,5.54,1.93,39.062500,2022.0
26,Montana,50.45,49.55,6.65,13.00,13.05,11.00,5.80,7.00,12.35,6.00,1.85,40.200000,2022.0
27,Nebraska,49.70,50.30,6.87,12.73,13.43,10.93,5.40,6.53,10.00,5.13,1.93,37.533333,2022.0
28,Nevada,50.05,49.95,6.12,14.37,13.87,12.55,6.25,6.05,10.22,5.38,1.35,38.925000,2022.0
29,New Hampshire,49.70,50.30,5.95,13.05,12.35,12.30,7.45,8.10,12.20,5.90,2.10,43.300000,2022.0
30,New Jersey,48.38,51.62,6.16,12.81,13.34,12.91,6.76,6.82,9.98,5.42,1.99,40.541667,2022.0
31,New Mexico,49.33,50.67,6.90,12.97,13.03,11.27,5.87,6.47,11.47,5.93,1.77,39.300000,2022.0
32,New York,47.92,52.08,6.60,14.13,12.92,12.22,6.62,6.66,10.30,5.56,2.21,40.057692,2022.0
33,North Carolina,48.06,51.94,6.91,13.26,12.85,12.56,6.21,6.54,10.43,5.41,1.63,39.442857,2022.0
34,North Dakota,51.10,48.90,7.40,14.50,13.70,9.70,5.40,6.10,9.70,4.80,2.20,36.200000,2022.0
35,Ohio,48.83,51.17,6.52,13.10,12.55,11.93,6.30,6.85,10.95,5.51,2.00,40.000000,2022.0
36,Oklahoma,49.14,50.86,7.18,13.30,13.26,11.36,5.56,6.28,9.70,5.18,1.58,37.160000,2022.0
37,Oregon,49.40,50.60,6.10,14.08,14.02,12.38,5.72,6.37,11.48,5.80,1.97,40.633333,2022.0
38,Pennsylvania,48.75,51.25,6.41,12.94,12.52,11.88,6.52,7.11,11.31,5.93,2.31,41.200000,2022.0
39,Puerto Rico,46.60,53.40,6.70,12.60,12.40,12.60,6.70,6.90,11.90,8.60,3.00,44.700000,2022.0
40,Rhode Island,48.10,51.90,6.95,13.80,12.60,11.85,6.75,7.35,11.00,5.70,2.15,40.550000,2022.0
41,South Carolina,47.86,52.14,6.67,12.56,12.63,11.93,6.20,6.94,11.50,5.84,1.74,40.514286,2022.0
42,South Dakota,50.60,49.40,6.60,12.20,12.80,10.70,5.70,7.00,11.20,5.00,2.10,38.500000,2022.0
43,Tennessee,48.27,51.73,6.70,13.68,12.88,12.31,6.38,6.51,10.34,5.29,1.66,39.233333,2022.0
44,Texas,49.37,50.63,7.16,14.43,14.10,12.26,5.47,5.54,8.19,3.97,1.28,35.623684,2022.0
45,Utah,50.50,49.50,8.92,14.62,13.60,11.05,4.42,4.75,7.27,3.58,1.12,32.000000,2022.0
46,Vermont,49.20,50.80,6.80,12.00,12.40,11.70,6.40,8.20,12.90,6.60,2.10,43.200000,2022.0
47,Virginia,48.93,51.07,6.94,13.35,13.58,12.29,6.43,6.38,9.88,5.24,1.74,39.236364,2022.0
48,Washington,50.18,49.82,6.41,15.11,14.34,12.02,5.81,6.17,10.10,5.01,1.70,38.510000,2022.0
49,West Virginia,49.40,50.60,6.45,11.65,12.20,12.50,6.40,7.10,12.65,6.45,2.05,42.900000,2022.0
50,Wisconsin,49.69,50.31,6.90,12.46,12.61,11.75,6.66,7.19,11.16,5.50,2.04,40.537500,2022.0
51,Wyoming,51.00,49.00,6.30,12.50,14.00,11.10,6.00,6.60,11.80,5.40,1.40,39.100000,2022.0

In [11]:
# Convert the 'year' column to integer
state_averages2022_df['year'] = state_averages2022_df['year'].astype(int)
state_averages2022_df['median_age(years)'] = state_averages2022_df['median_age(years)'].astype(int)

state_averages2022_df.head()

,state,18_and_over_population_male,18_and_over_population_female,20_to_24_years,25_to_34_years,35_to_44_years,45_to_54_years,55_to_59_years,60_to_64_years,65_to_74_years,75_to_84_years,85_years_and_over,median_age(years),year
0,Alabama,47.60,52.40,6.80,12.86,12.47,12.17,6.27,6.73,10.77,5.57,1.69,39,2022
1,Alaska,53.20,46.80,7.10,15.50,14.30,11.20,5.90,5.90,9.40,3.70,0.80,35,2022
2,Arizona,49.64,50.36,7.11,13.86,12.58,11.61,5.66,6.20,10.63,6.42,1.78,39,2022
3,Arkansas,48.75,51.25,6.90,12.62,12.70,11.95,6.00,6.60,10.38,5.58,1.78,39,2022
4,California,49.39,50.61,6.75,14.74,13.83,12.51,6.04,5.98,9.14,4.82,1.83,37,2022

In [12]:
# Export DataFrame as cleaned csv
state_averages2022_df.to_csv('2022_Census_Age_et.csv', index=False)