## Create 2008, 2012, 2026, 2020 Race Census Demo CSV

In [1]:
import pandas as pd

In [2]:
# For comma-separated values
race_2008_df = pd.read_csv('../censusoutputcsv/2008_census_race.csv', sep=',')
race_2012_df = pd.read_csv('../censusoutputcsv/2012_census_race.csv', sep=',')
race_2016_df = pd.read_csv('../censusoutputcsv/2016_census_race.csv', sep=',')
race_2020_df = pd.read_csv('../censusoutputcsv/2020_census_race1.csv', sep=',')

In [3]:
race_2008_df.head()

,state,white,black_or_african_american,american_indian_and_alaska_native,asian,native_hawaiian_and_other_pacific-islander,hispanic_or_latino_any_race,state_id,congressional_district,year
0,Oregon,82.4,1.5,1.8,6.2,0.3,12.9,41,1,2008
1,Oregon,91.8,0.3,1.8,1.0,0.1,10.8,41,2,2008
2,Oregon,80.3,5.3,1.6,5.9,0.4,10.9,41,3,2008
3,Oregon,91.5,0.7,1.3,2.0,0.2,5.9,41,4,2008
4,Oregon,87.8,0.8,1.9,1.8,0.4,14.2,41,5,2008

In [4]:
race_2012_df.head()

,state,white,black_or_african_american,american_indian_and_alaska_native,asian,native_hawaiian_and_other_pacific-islander,hispanic_or_latino_any_race,state_id,congressional_district,year
0,Virginia,66.7,21.6,0.3,5.4,0.1,7.2,51,2,2012
1,Virginia,35.8,57.4,0.5,1.5,0.0,5.7,51,3,2012
2,Virginia,61.5,32.2,0.3,2.2,0.0,5.1,51,4,2012
3,Virginia,74.7,20.3,0.2,1.3,0.1,3.4,51,5,2012
4,Virginia,84.3,10.4,0.3,1.5,0.0,4.5,51,6,2012

In [5]:
race_2016_df.head()

,state,white,black_or_african_american,american_indian_and_alaska_native,asian,native_hawaiian_and_other_pacific-islander,hispanic_or_latino_any_race,state_id,congressional_district,year
0,Alabama,67.4,27.3,1.1,1.3,0.0,3.0,1,1,2016
1,Alabama,63.0,32.2,0.3,1.1,0.0,3.5,1,2,2016
2,Alabama,69.5,26.3,0.3,2.0,0.0,3.0,1,3,2016
3,Alabama,88.4,7.1,0.8,0.9,0.0,6.7,1,4,2016
4,Pennsylvania,31.6,56.4,0.2,6.1,0.0,5.8,42,2,2016

In [6]:
race_2020_df.head()

,state,white,black_or_african_american,american_indian_and_alaska_native,asian,native_hawaiian_and_other_pacific-islander,hispanic_or_latino_any_race,state_id,congressional_district,year
0,Alabama,64.3,26.1,1.2,1.5,0.1,3.8,1,1,2020
1,Alabama,60.3,30.7,0.5,1.4,0.1,4.6,1,2,2020
2,Alabama,65.4,25.5,0.4,2.2,0.1,3.8,1,3,2020
3,Alabama,81.6,6.8,1.1,0.6,0.1,7.6,1,4,2020
4,Alabama,69.9,17.3,0.8,1.8,0.1,6.5,1,5,2020

In [7]:
# Remove unnecessary spaces
race_2008_df.columns = race_2008_df.columns.str.strip()
race_2012_df.columns = race_2012_df.columns.str.strip()
race_2016_df.columns = race_2016_df.columns.str.strip()
race_2020_df.columns = race_2020_df.columns.str.strip()

In [8]:
# Check column names
dataframes = {
    'race_2008_df': race_2008_df,
    'race_2012_df': race_2012_df,
    'race_2016_df': race_2016_df,
    'race_2020_df': race_2020_df
}

for name, df in dataframes.items():
    print(f"Columns of {name}: {df.columns.tolist()}")

Columns of race_2008_df: ['state', 'white', 'black_or_african_american', 'american_indian_and_alaska_native', 'asian', 'native_hawaiian_and_other_pacific-islander', 'hispanic_or_latino_any_race', 'state_id', 'congressional_district', 'year']
Columns of race_2012_df: ['state', 'white', 'black_or_african_american', 'american_indian_and_alaska_native', 'asian', 'native_hawaiian_and_other_pacific-islander', 'hispanic_or_latino_any_race', 'state_id', 'congressional_district', 'year']
Columns of race_2016_df: ['state', 'white', 'black_or_african_american', 'american_indian_and_alaska_native', 'asian', 'native_hawaiian_and_other_pacific-islander', 'hispanic_or_latino_any_race', 'state_id', 'congressional_district', 'year']
Columns of race_2020_df: ['state', 'white', 'black_or_african_american', 'american_indian_and_alaska_native', 'asian', 'native_hawaiian_and_other_pacific-islander', 'hispanic_or_latino_any_race', 'state_id', 'congressional_district', 'year']

In [9]:
# Drop unnecessary columns
# List of columns to drop
columns_to_drop = ['congressional_district', 'state_id']

# List of DataFrame variables
dataframes = [race_2008_df, race_2012_df, race_2016_df, race_2020_df]

# Drop columns from each DataFrame
for df in dataframes:
    df.drop(columns=columns_to_drop, inplace=True, errors='ignore')

In [10]:
# Check a dataframe
race_2008_df.columns

Index(['state', 'white', 'black_or_african_american',
       'american_indian_and_alaska_native', 'asian',
       'native_hawaiian_and_other_pacific-islander',
       'hispanic_or_latino_any_race', 'year'],
      dtype='object')

In [11]:
race_2008_df.head()

,state,white,black_or_african_american,american_indian_and_alaska_native,asian,native_hawaiian_and_other_pacific-islander,hispanic_or_latino_any_race,year
0,Oregon,82.4,1.5,1.8,6.2,0.3,12.9,2008
1,Oregon,91.8,0.3,1.8,1.0,0.1,10.8,2008
2,Oregon,80.3,5.3,1.6,5.9,0.4,10.9,2008
3,Oregon,91.5,0.7,1.3,2.0,0.2,5.9,2008
4,Oregon,87.8,0.8,1.9,1.8,0.4,14.2,2008

In [12]:
race_2012_df.head()

,state,white,black_or_african_american,american_indian_and_alaska_native,asian,native_hawaiian_and_other_pacific-islander,hispanic_or_latino_any_race,year
0,Virginia,66.7,21.6,0.3,5.4,0.1,7.2,2012
1,Virginia,35.8,57.4,0.5,1.5,0.0,5.7,2012
2,Virginia,61.5,32.2,0.3,2.2,0.0,5.1,2012
3,Virginia,74.7,20.3,0.2,1.3,0.1,3.4,2012
4,Virginia,84.3,10.4,0.3,1.5,0.0,4.5,2012

In [13]:
race_2016_df.head()

,state,white,black_or_african_american,american_indian_and_alaska_native,asian,native_hawaiian_and_other_pacific-islander,hispanic_or_latino_any_race,year
0,Alabama,67.4,27.3,1.1,1.3,0.0,3.0,2016
1,Alabama,63.0,32.2,0.3,1.1,0.0,3.5,2016
2,Alabama,69.5,26.3,0.3,2.0,0.0,3.0,2016
3,Alabama,88.4,7.1,0.8,0.9,0.0,6.7,2016
4,Pennsylvania,31.6,56.4,0.2,6.1,0.0,5.8,2016

In [14]:
race_2020_df.head()

,state,white,black_or_african_american,american_indian_and_alaska_native,asian,native_hawaiian_and_other_pacific-islander,hispanic_or_latino_any_race,year
0,Alabama,64.3,26.1,1.2,1.5,0.1,3.8,2020
1,Alabama,60.3,30.7,0.5,1.4,0.1,4.6,2020
2,Alabama,65.4,25.5,0.4,2.2,0.1,3.8,2020
3,Alabama,81.6,6.8,1.1,0.6,0.1,7.6,2020
4,Alabama,69.9,17.3,0.8,1.8,0.1,6.5,2020

In [15]:
# List of demographic percentage columns to convert to fractions for averaging
demographic_percentage_columns = [
    'white',
    'black_or_african_american',
    'american_indian_and_alaska_native',
    'asian',
    'native_hawaiian_and_other_pacific-islander',
    'hispanic_or_latino_any_race'
]

# Convert the demographic percentage columns to fractions by dividing by 100
race_2008_df[demographic_percentage_columns] = race_2008_df[demographic_percentage_columns] / 100

# Group by 'state' and calculate the average of all numerical columns
state_averages2008_df = race_2008_df.groupby('state').mean().reset_index()

# Convert the specific percentage columns back to percentages by multiplying by 100
state_averages2008_df[demographic_percentage_columns] = state_averages2008_df[demographic_percentage_columns] * 100

# Remove percentage formatting step (do not add '%' symbol)
# Format the specific percentage columns to show as plain numbers with one decimal place
for col in demographic_percentage_columns:
    state_averages2008_df[col] = state_averages2008_df[col].map(lambda x: round(x, 1))

# Convert year to whole integer
state_averages2008_df['year'] = state_averages2008_df['year'].astype(int)

# Display the results
state_averages2008_df.head()

,state,white,black_or_african_american,american_indian_and_alaska_native,asian,native_hawaiian_and_other_pacific-islander,hispanic_or_latino_any_race,year
0,Alabama,69.5,27.0,0.5,1.0,0.0,2.8,2008
1,Alaska,69.1,3.6,12.7,4.6,0.5,6.2,2008
2,Arizona,80.0,3.7,4.5,2.4,0.1,30.3,2008
3,Arkansas,78.4,16.0,0.5,1.0,0.1,5.3,2008
4,California,62.0,6.2,0.8,12.6,0.4,36.8,2008

In [16]:
# List of demographic percentage columns to convert to fractions for averaging
demographic_percentage_columns = [
    'white',
    'black_or_african_american',
    'american_indian_and_alaska_native',
    'asian',
    'native_hawaiian_and_other_pacific-islander',
    'hispanic_or_latino_any_race'
]

# Convert the demographic percentage columns to fractions by dividing by 100
race_2012_df[demographic_percentage_columns] = race_2012_df[demographic_percentage_columns] / 100

# Group by 'state' and calculate the average of all numerical columns
state_averages2012_df = race_2012_df.groupby('state').mean().reset_index()

# Convert the specific percentage columns back to percentages by multiplying by 100
state_averages2012_df[demographic_percentage_columns] = state_averages2012_df[demographic_percentage_columns] * 100

# Remove percentage formatting step (do not add '%' symbol)
# Format the specific percentage columns to show as plain numbers with one decimal place
for col in demographic_percentage_columns:
    state_averages2012_df[col] = state_averages2012_df[col].map(lambda x: round(x, 1))

# Convert year to whole integer
state_averages2012_df['year'] = state_averages2012_df['year'].astype(int)

# Display the results
state_averages2012_df.head()

,state,white,black_or_african_american,american_indian_and_alaska_native,asian,native_hawaiian_and_other_pacific-islander,hispanic_or_latino_any_race,year
0,Alabama,69.1,26.5,0.5,1.2,0.0,3.9,2012
1,Alaska,66.5,3.6,14.0,5.9,1.1,6.0,2012
2,Arizona,78.8,4.3,4.4,2.9,0.2,30.1,2012
3,Arkansas,78.2,15.8,0.6,1.3,0.2,6.7,2012
4,California,62.1,5.9,0.7,13.4,0.4,38.2,2012

In [17]:
# List of demographic percentage columns to convert to fractions for averaging
demographic_percentage_columns = [
    'white',
    'black_or_african_american',
    'american_indian_and_alaska_native',
    'asian',
    'native_hawaiian_and_other_pacific-islander',
    'hispanic_or_latino_any_race'
]

# Convert the demographic percentage columns to fractions by dividing by 100
race_2016_df[demographic_percentage_columns] = race_2016_df[demographic_percentage_columns] / 100

# Group by 'state' and calculate the average of all numerical columns
state_averages2016_df = race_2016_df.groupby('state').mean().reset_index()

# Convert the specific percentage columns back to percentages by multiplying by 100
state_averages2016_df[demographic_percentage_columns] = state_averages2016_df[demographic_percentage_columns] * 100

# Remove percentage formatting step (do not add '%' symbol)
# Format the specific percentage columns to show as plain numbers with one decimal place
for col in demographic_percentage_columns:
    state_averages2016_df[col] = state_averages2016_df[col].map(lambda x: round(x, 1))

# Convert year to whole integer
state_averages2016_df['year'] = state_averages2016_df['year'].astype(int)

# Display the DataFrame
state_averages2016_df.head()

,state,white,black_or_african_american,american_indian_and_alaska_native,asian,native_hawaiian_and_other_pacific-islander,hispanic_or_latino_any_race,year
0,Alabama,68.0,27.0,0.5,1.3,0.0,4.1,2016
1,Alaska,64.4,3.2,14.6,6.1,1.3,6.9,2016
2,Arizona,76.0,4.3,4.4,3.2,0.2,30.8,2016
3,Arkansas,76.5,15.8,0.6,1.4,0.3,7.0,2016
4,California,59.7,5.8,0.7,14.2,0.4,39.0,2016

In [18]:
# List of demographic percentage columns to convert to fractions for averaging
demographic_percentage_columns = [
    'white',
    'black_or_african_american',
    'american_indian_and_alaska_native',
    'asian',
    'native_hawaiian_and_other_pacific-islander',
    'hispanic_or_latino_any_race'
]

# Convert the demographic percentage columns to fractions by dividing by 100
race_2020_df[demographic_percentage_columns] = race_2020_df[demographic_percentage_columns] / 100

# Group by 'state' and calculate the average of all numerical columns
state_averages2020_df = race_2020_df.groupby('state').mean().reset_index()

# Convert the specific percentage columns back to percentages by multiplying by 100
state_averages2020_df[demographic_percentage_columns] = state_averages2020_df[demographic_percentage_columns] * 100

# Remove percentage formatting step (do not add '%' symbol)
# Format the specific percentage columns to show as plain numbers with one decimal place
for col in demographic_percentage_columns:
    state_averages2020_df[col] = state_averages2020_df[col].map(lambda x: round(x, 1))

# Convert year to whole integer
state_averages2020_df['year'] = state_averages2020_df['year'].astype(int)

# Display the results
state_averages2020_df

,state,white,black_or_african_american,american_indian_and_alaska_native,asian,native_hawaiian_and_other_pacific-islander,hispanic_or_latino_any_race,year
0,Alabama,63.7,26.2,0.7,1.5,0.1,5.3,2020
1,Alaska,59.4,3.0,15.2,6.0,1.7,6.8,2020
2,Arizona,60.2,4.8,4.6,3.6,0.2,30.9,2020
3,Arkansas,70.2,15.5,0.9,1.7,0.4,8.2,2020
4,California,41.1,5.6,1.6,15.3,0.4,39.7,2020
5,Colorado,70.7,4.0,1.3,3.4,0.2,21.9,2020
6,Connecticut,66.5,10.7,0.5,4.8,0.0,17.2,2020
7,Delaware,60.4,22.1,0.5,4.3,0.0,10.5,2020
8,District of Columbia,39.6,41.4,0.5,4.9,0.1,11.3,2020
9,Florida,57.5,15.2,0.4,3.0,0.1,26.5,2020
10,Georgia,52.0,31.1,0.5,4.3,0.1,10.3,2020
11,Hawaii,22.9,1.6,0.3,37.2,10.9,9.6,2020
12,Idaho,82.0,0.9,1.4,1.5,0.2,13.1,2020
13,Illinois,61.5,14.2,0.8,5.8,0.0,18.2,2020
14,Indiana,77.4,9.4,0.4,2.4,0.0,8.2,2020
15,Iowa,84.5,4.1,0.5,2.3,0.2,6.7,2020
16,Kansas,75.8,5.7,1.1,2.9,0.1,13.0,2020
17,Kentucky,82.6,8.0,0.3,1.6,0.1,4.6,2020
18,Louisiana,56.9,31.7,0.7,1.8,0.0,6.8,2020
19,Maine,90.8,1.9,0.6,1.2,0.0,2.0,2020
20,Maryland,48.7,29.5,0.5,6.8,0.1,11.7,2020
21,Massachusetts,69.8,7.0,0.3,7.2,0.0,12.6,2020
22,Michigan,73.6,14.0,0.6,3.3,0.0,5.6,2020
23,Minnesota,77.8,6.9,1.2,5.1,0.0,6.0,2020
24,Mississippi,55.2,37.5,0.6,1.1,0.0,3.5,2020
25,Missouri,76.7,11.7,0.5,2.2,0.1,4.9,2020
26,Montana,84.5,0.5,6.2,0.8,0.1,4.2,2020
27,Nebraska,78.7,4.7,1.2,2.6,0.1,12.0,2020
28,Nevada,50.8,9.9,1.4,8.6,0.8,29.3,2020
29,New Hampshire,88.3,1.5,0.2,2.6,0.0,4.3,2020
30,New Jersey,55.5,13.0,0.6,10.2,0.0,21.3,2020
31,New Mexico,51.0,2.2,10.0,1.8,0.1,47.7,2020
32,New York,55.8,14.5,0.7,9.4,0.0,19.3,2020
33,North Carolina,62.5,20.4,1.3,3.2,0.1,10.6,2020
34,North Dakota,82.9,3.4,5.0,1.7,0.1,4.3,2020
35,Ohio,77.0,12.5,0.2,2.5,0.0,4.4,2020
36,Oklahoma,63.6,7.2,8.6,2.3,0.2,11.8,2020
37,Oregon,74.9,1.9,1.5,4.6,0.4,13.9,2020
38,Pennsylvania,75.3,10.8,0.2,3.9,0.0,8.0,2020
39,Puerto Rico,17.1,7.0,0.5,0.1,0.0,98.9,2020
40,Rhode Island,71.4,5.7,0.7,3.6,0.1,16.6,2020
41,South Carolina,62.9,25.6,0.5,1.7,0.1,6.8,2020
42,South Dakota,80.7,2.0,8.8,1.5,0.1,4.4,2020
43,Tennessee,71.7,16.4,0.4,1.9,0.0,6.9,2020
44,Texas,49.9,12.2,1.0,5.2,0.1,40.1,2020
45,Utah,78.8,1.2,1.3,2.4,1.1,15.0,2020
46,Vermont,89.8,1.4,0.4,1.8,0.0,2.4,2020
47,Virginia,60.7,18.7,0.5,6.9,0.1,10.3,2020
48,Washington,66.6,4.0,1.6,9.4,0.8,13.8,2020
49,West Virginia,89.9,3.6,0.2,0.8,0.0,1.9,2020
50,Wisconsin,80.2,6.6,1.0,3.0,0.0,7.7,2020
51,Wyoming,84.7,0.9,2.4,0.9,0.1,10.2,2020

In [19]:
# Export DataFrame as cleaned csv
state_averages2008_df.to_csv('2008_Census_Race_et.csv', index=False)
state_averages2012_df.to_csv('2012_Census_Race_et.csv', index=False)
state_averages2016_df.to_csv('2016_Census_Race_et.csv', index=False)
state_averages2020_df.to_csv('2020_Census_Race_et.csv', index=False)

In [20]:
state_averages2008_df.columns

Index(['state', 'white', 'black_or_african_american',
       'american_indian_and_alaska_native', 'asian',
       'native_hawaiian_and_other_pacific-islander',
       'hispanic_or_latino_any_race', 'year'],
      dtype='object')

In [21]:
# Rename columns to add a _2008 suffix
state_averages2008_df.rename(columns={
    'white': 'white_2008',
    'black_or_african_american': 'black_or_african_american_2008',
    'american_indian_and_alaska_native': 'american_indian_and_alaska_native_2008',
    'asian': 'asian_2008',
    'native_hawaiian_and_other_pacific-islander': 'native_hawaiian_and_other_pacific-islander_2008',
    'hispanic_or_latino_any_race': 'hispanic_or_latino_any_race_2008'
}, inplace=True)

# Display the results
state_averages2008_df.head()

,state,white_2008,black_or_african_american_2008,american_indian_and_alaska_native_2008,asian_2008,native_hawaiian_and_other_pacific-islander_2008,hispanic_or_latino_any_race_2008,year
0,Alabama,69.5,27.0,0.5,1.0,0.0,2.8,2008
1,Alaska,69.1,3.6,12.7,4.6,0.5,6.2,2008
2,Arizona,80.0,3.7,4.5,2.4,0.1,30.3,2008
3,Arkansas,78.4,16.0,0.5,1.0,0.1,5.3,2008
4,California,62.0,6.2,0.8,12.6,0.4,36.8,2008

In [22]:
# Merge the DataFrames on 'state' (outer join to include all states)
merged_df = state_averages2008_df.merge(state_averages2012_df, on='state', how='outer', suffixes=('', '_2012'))
merged_df = merged_df.merge(state_averages2016_df, on='state', how='outer', suffixes=('', '_2016'))
merged_df = merged_df.merge(state_averages2020_df, on='state', how='outer', suffixes=('', '_2020'))

# Handle any duplicate columns caused by the merges
merged_df = merged_df.loc[:, ~merged_df.columns.duplicated()]

# Export the merged DataFrame to a CSV file
merged_df.to_csv('merged_race_data.csv', index=False)

# Display the merged DataFrame
merged_df.head()

,state,white_2008,black_or_african_american_2008,american_indian_and_alaska_native_2008,asian_2008,native_hawaiian_and_other_pacific-islander_2008,hispanic_or_latino_any_race_2008,year,white,black_or_african_american,...,native_hawaiian_and_other_pacific-islander_2016,hispanic_or_latino_any_race_2016,year_2016,white_2020,black_or_african_american_2020,american_indian_and_alaska_native_2020,asian_2020,native_hawaiian_and_other_pacific-islander_2020,hispanic_or_latino_any_race_2020,year_2020
0,Alabama,69.5,27.0,0.5,1.0,0.0,2.8,2008,69.1,26.5,...,0.0,4.1,2016,63.7,26.2,0.7,1.5,0.1,5.3,2020
1,Alaska,69.1,3.6,12.7,4.6,0.5,6.2,2008,66.5,3.6,...,1.3,6.9,2016,59.4,3.0,15.2,6.0,1.7,6.8,2020
2,Arizona,80.0,3.7,4.5,2.4,0.1,30.3,2008,78.8,4.3,...,0.2,30.8,2016,60.2,4.8,4.6,3.6,0.2,30.9,2020
3,Arkansas,78.4,16.0,0.5,1.0,0.1,5.3,2008,78.2,15.8,...,0.3,7.0,2016,70.2,15.5,0.9,1.7,0.4,8.2,2020
4,California,62.0,6.2,0.8,12.6,0.4,36.8,2008,62.1,5.9,...,0.4,39.0,2016,41.1,5.6,1.6,15.3,0.4,39.7,2020

In [ ]:
merged_df.to_csv('merged_race_data.csv', index=False)