In [1]:
import pandas as pd
import glob

In [2]:
df1 = pd.read_csv('final_combined.csv')
df1.head()

,Year,Candidate,Avg_Sentiment,state,candidate,total_votes,party,percent,election_year,economic_indicator,...,85_years_and_over_2022,median_age(years)_2022,year_2022,white,black_or_african_american,american_indian_and_alaska_native,asian,native_hawaiian_and_other_pacific-islander,hispanic_or_latino_any_race,year
0,2016.0,Democrat,0.364082,Alabama,Bernie Sanders,544.0,Democrat,60.32,2016.0,Gross domestic product (GDP),...,1.69,39.0,2022.0,69.5,27.0,0.5,1.0,0.0,2.8,2008.0
1,2016.0,Democrat,0.364082,Alabama,Bernie Sanders,544.0,Democrat,60.32,2016.0,Personal income,...,1.69,39.0,2022.0,69.5,27.0,0.5,1.0,0.0,2.8,2008.0
2,2016.0,Democrat,0.364082,Alabama,Bernie Sanders,544.0,Democrat,60.32,2016.0,Total employment (number of jobs),...,1.69,39.0,2022.0,69.5,27.0,0.5,1.0,0.0,2.8,2008.0
3,2016.0,Democrat,0.364082,Alabama,Hillary Clinton,2387.0,Democrat,60.32,2016.0,Gross domestic product (GDP),...,1.69,39.0,2022.0,69.5,27.0,0.5,1.0,0.0,2.8,2008.0
4,2016.0,Democrat,0.364082,Alabama,Hillary Clinton,2387.0,Democrat,60.32,2016.0,Personal income,...,1.69,39.0,2022.0,69.5,27.0,0.5,1.0,0.0,2.8,2008.0

In [3]:
df1['Year'].head(50)

0     2016.0
1     2016.0
2     2016.0
3     2016.0
4     2016.0
5     2016.0
6     2016.0
7     2016.0
8     2016.0
9     2016.0
10    2016.0
11    2016.0
12    2016.0
13    2016.0
14    2016.0
15    2016.0
16    2016.0
17    2016.0
18    2016.0
19    2016.0
20    2016.0
21    2016.0
22    2016.0
23    2016.0
24    2016.0
25    2016.0
26    2016.0
27    2016.0
28    2016.0
29    2016.0
30    2016.0
31    2016.0
32    2016.0
33    2016.0
34    2016.0
35    2016.0
36    2016.0
37    2016.0
38    2016.0
39    2016.0
40    2016.0
41    2016.0
42    2016.0
43    2016.0
44    2016.0
45    2016.0
46    2016.0
47    2016.0
48    2016.0
49    2016.0
Name: Year, dtype: float64

In [4]:
df3 = pd.read_csv('county_census_and_election_result.csv')
df3

,year,county_fips,inctot,mortamt1,avrg_age,ftotinc,foodstmp_1_freq,foodstmp_2_freq,sex_2_freq,sex_1_freq,...,empstat_3.0_freq,empstat_2.0_freq,state_po,county_name,democrat,green,liberitarian,other,republican,winner
0,2000,1,24566.4,634.6,46.0,46912.7,93.6,6.4,54.0,46.0,...,38.4,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2,33842.9,1080.1,42.4,65021.9,95.3,4.7,50.3,49.7,...,25.2,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,4,28331.7,814.7,45.3,52826.7,95.8,4.2,52.1,47.9,...,38.3,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,5,22782.6,557.5,46.2,43941.3,92.5,7.5,53.0,47.0,...,37.8,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,6,32245.0,1216.3,43.8,61455.3,95.7,4.3,52.0,48.0,...,35.1,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7521,2020,55117,26884.0,704.0,50.3,52592.7,95.6,4.4,49.5,50.5,...,42.3,1.4,WI,SHEBOYGAN,27101.0,2.0,896.0,403.0,37609.0,1.0
7522,2020,55127,28065.5,846.0,49.0,63315.2,94.9,5.1,49.4,50.6,...,37.6,0.8,WI,WALWORTH,22789.0,15.0,641.0,304.0,33851.0,1.0
7523,2020,55133,38557.0,990.6,50.4,80433.1,95.9,4.1,52.8,47.2,...,37.3,2.0,WI,WAUKESHA,103906.0,54.0,3023.0,1364.0,159649.0,1.0
7524,2020,55139,25796.1,667.3,45.9,49219.4,93.5,6.5,47.9,52.1,...,41.5,1.6,WI,WINNEBAGO,44060.0,38.0,1629.0,509.0,47796.0,1.0
7525,2020,56000,28415.2,786.1,48.7,57943.3,94.9,5.1,49.7,50.3,...,37.9,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df3['winner'].head(50)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
26   NaN
27   NaN
28   NaN
29   NaN
30   NaN
31   NaN
32   NaN
33   NaN
34   NaN
35   NaN
36   NaN
37   NaN
38   NaN
39   NaN
40   NaN
41   NaN
42   NaN
43   NaN
44   NaN
45   NaN
46   NaN
47   NaN
48   NaN
49   NaN
Name: winner, dtype: float64

In [6]:
# List of years to filter by
years_to_include = [2008, 2012, 2016, 2020, 2022, 2024]

# Filter the DataFrame by the specified years
df_election = df3[df3['year'].isin(years_to_include)]

In [7]:
 df_selected = df_election[['year', 'winner']]

In [8]:
df_selected

      year  winner
1528  2008     NaN
1529  2008     1.0
1530  2008     1.0
1531  2008     1.0
1532  2008     0.0
...    ...     ...
7521  2020     1.0
7522  2020     1.0
7523  2020     1.0
7524  2020     1.0
7525  2020     NaN

[1858 rows x 2 columns]

In [9]:
df_cleaned = df_selected.dropna()

In [10]:
df_cleaned

      year  winner
1529  2008     1.0
1530  2008     1.0
1531  2008     1.0
1532  2008     0.0
1533  2008     1.0
...    ...     ...
7520  2020     0.0
7521  2020     1.0
7522  2020     1.0
7523  2020     1.0
7524  2020     1.0

[1670 rows x 2 columns]

In [11]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder \
    .appName("PySparkJupyter") \
    .config("spark.driver.memory", "2g") \
    .getOrCreate()

# Check Spark session details
spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/12 00:43:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [12]:
# Convert pandas DataFrames to PySpark DataFrames
large_spark_df = spark.createDataFrame(df1)
small_spark_df = spark.createDataFrame(df_cleaned)

/opt/anaconda3/envs/dev_2/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:485: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if should_localize and is_datetime64tz_dtype(s.dtype) and s.dt.tz is not None:
24/09/12 00:43:43 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [13]:
# Perform the join (merge)
merged_spark_df = large_spark_df.join(small_spark_df, on="year", how="inner")

# Show the merged DataFrame
merged_spark_df.show(5)

24/09/12 00:45:20 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
24/09/12 00:45:22 WARN TaskSetManager: Stage 0 contains a task of very large size (35865 KiB). The maximum recommended task size is 1000 KiB.

+------+---------+------------------+-------+------------+-----------+----------+-------+-------------+--------------------+--------+--------------------------------+----------------------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+----------------------+----------------------+---------+--------------------------------+----------------------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+----------------------+----------------------+---------+--------------------------------+----------------------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+----------------------+----------------------+---------+--------------------------------+----------------------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+----------------------+----------------------+---------+--------------------------------+----------------------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+----------------------+----------------------+---------+-----+-------------------------+---------------------------------+-----+------------------------------------------+---------------------------+------+------+
|  Year|Candidate|     Avg_Sentiment|  state|   candidate|total_votes|     party|percent|election_year|  economic_indicator|   value|18_and_over_population_male_2008|18_and_over_population_female_2008|20_to_24_years_2008|25_to_34_years_2008|35_to_44_years_2008|45_to_54_years_2008|55_to_59_years_2008|60_to_64_years_2008|65_to_74_years_2008|75_to_84_years_2008|85_years_and_over_2008|median_age(years)_2008|year_2008|18_and_over_population_male_2012|18_and_over_population_female_2012|20_to_24_years_2012|25_to_34_years_2012|35_to_44_years_2012|45_to_54_years_2012|55_to_59_years_2012|60_to_64_years_2012|65_to_74_years_2012|75_to_84_years_2012|85_years_and_over_2012|median_age(years)_2012|year_2012|18_and_over_population_male_2016|18_and_over_population_female_2016|20_to_24_years_2016|25_to_34_years_2016|35_to_44_years_2016|45_to_54_years_2016|55_to_59_years_2016|60_to_64_years_2016|65_to_74_years_2016|75_to_84_years_2016|85_years_and_over_2016|median_age(years)_2016|year_2016|18_and_over_population_male_2020|18_and_over_population_female_2020|20_to_24_years_2020|25_to_34_years_2020|35_to_44_years_2020|45_to_54_years_2020|55_to_59_years_2020|60_to_64_years_2020|65_to_74_years_2020|75_to_84_years_2020|85_years_and_over_2020|median_age(years)_2020|year_2020|18_and_over_population_male_2022|18_and_over_population_female_2022|20_to_24_years_2022|25_to_34_years_2022|35_to_44_years_2022|45_to_54_years_2022|55_to_59_years_2022|60_to_64_years_2022|65_to_74_years_2022|75_to_84_years_2022|85_years_and_over_2022|median_age(years)_2022|year_2022|white|black_or_african_american|american_indian_and_alaska_native|asian|native_hawaiian_and_other_pacific-islander|hispanic_or_latino_any_race|  year|winner|
+------+---------+------------------+-------+------------+-----------+----------+-------+-------------+--------------------+--------+--------------------------------+----------------------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+----------------------+----------------------+---------+--------------------------------+----------------------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+----------------------+----------------------+---------+--------------------------------+----------------------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+----------------------+----------------------+---------+--------------------------------+----------------------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+----------------------+----------------------+---------+--------------------------------+----------------------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+----------------------+----------------------+---------+-----+-------------------------+---------------------------------+-----+------------------------------------------+---------------------------+------+------+
|2020.0| Democrat|0.0016201125280288|Alabama|Donald Trump|    10583.0|Republican|  60.32|       2020.0|Gross domestic pr...|235118.0|               47.55714285714286|                 52.44285714285715|  6.928571428571429| 12.842857142857142| 13.414285714285716| 14.385714285714284|  6.185714285714285|  5.428571428571429|  7.385714285714286|  4.542857142857143|    1.7857142857142856|                  37.0|   2008.0|               47.64285714285714|                 52.35714285714286|  7.142857142857142| 12.628571428571428| 12.785714285714286|               13.9| 6.7285714285714295|  5.985714285714285|  8.399999999999999|  4.485714285714286|    1.6714285714285717|                  38.0|   2012.0|               47.58571428571429|                 52.41428571428571|  6.699999999999999|  12.94285714285714| 12.285714285714286| 13.271428571428572|  7.014285714285714|  6.214285714285714|  9.557142857142855|  4.771428571428571|    1.7714285714285714|                  38.0|   2016.0|              0.0076685714285714|                0.0079157142857142|  6.914285714285E-4| 0.1242857142857142|              0.121|              0.125|  6.828571428571E-4|             6.7E-4| 0.1058571428571428| 0.0522857142857142|     1.785714285714E-4|                  39.0|   2020.0|                            47.6|                              52.4|                6.8|              12.86|              12.47|              12.17|               6.27|               6.73|              10.77|               5.57|                  1.69|                  39.0|   2022.0| 69.5|                     27.0|                              0.5|  1.0|                                       0.0|                        2.8|2008.0|   1.0|
|2020.0| Democrat|0.0016201125280288|Alabama|Donald Trump|    10583.0|Republican|  60.32|       2020.0|Gross domestic pr...|235118.0|               47.55714285714286|                 52.44285714285715|  6.928571428571429| 12.842857142857142| 13.414285714285716| 14.385714285714284|  6.185714285714285|  5.428571428571429|  7.385714285714286|  4.542857142857143|    1.7857142857142856|                  37.0|   2008.0|               47.64285714285714|                 52.35714285714286|  7.142857142857142| 12.628571428571428| 12.785714285714286|               13.9| 6.7285714285714295|  5.985714285714285|  8.399999999999999|  4.485714285714286|    1.6714285714285717|                  38.0|   2012.0|               47.58571428571429|                 52.41428571428571|  6.699999999999999|  12.94285714285714| 12.285714285714286| 13.271428571428572|  7.014285714285714|  6.214285714285714|  9.557142857142855|  4.771428571428571|    1.7714285714285714|                  38.0|   2016.0|              0.0076685714285714|                0.0079157142857142|  6.914285714285E-4| 0.1242857142857142|              0.121|              0.125|  6.828571428571E-4|             6.7E-4| 0.1058571428571428| 0.0522857142857142|     1.785714285714E-4|                  39.0|   2020.0|                            47.6|                              52.4|                6.8|              12.86|              12.47|              12.17|               6.27|               6.73|              10.77|               5.57|                  1.69|                  39.0|   2022.0| 69.5|                     27.0|                              0.5|  1.0|                                       0.0|                        2.8|2008.0|   1.0|
|2020.0| Democrat|0.0016201125280288|Alabama|Donald Trump|    10583.0|Republican|  60.32|       2020.0|Gross domestic pr...|235118.0|               47.55714285714286|                 52.44285714285715|  6.928571428571429| 12.842857142857142| 13.414285714285716| 14.385714285714284|  6.185714285714285|  5.428571428571429|  7.385714285714286|  4.542857142857143|    1.7857142857142856|                  37.0|   2008.0|               47.64285714285714|                 52.35714285714286|  7.142857142857142| 12.628571428571428| 12.785714285714286|               13.9| 6.7285714285714295|  5.985714285714285|  8.399999999999999|  4.485714285714286|    1.6714285714285717|                  38.0|   2012.0|               47.58571428571429|                 52.41428571428571|  6.699999999999999|  12.94285714285714| 12.285714285714286| 13.271428571428572|  7.014285714285714|  6.214285714285714|  9.557142857142855|  4.771428571428571|    1.7714285714285714|                  38.0|   2016.0|              0.0076685714285714|                0.0079157142857142|  6.914285714285E-4| 0.1242857142857142|              0.121|              0.125|  6.828571428571E-4|             6.7E-4| 0.1058571428571428| 0.0522857142857142|     1.785714285714E-4|                  39.0|   2020.0|                            47.6|                              52.4|                6.8|              12.86|              12.47|              12.17|               6.27|               6.73|              10.77|               5.57|                  1.69|                  39.0|   2022.0| 69.5|                     27.0|                              0.5|  1.0|                                       0.0|                        2.8|2008.0|   1.0|
|2020.0| Democrat|0.0016201125280288|Alabama|Donald Trump|    10583.0|Republican|  60.32|       2020.0|Gross domestic pr...|235118.0|               47.55714285714286|                 52.44285714285715|  6.928571428571429| 12.842857142857142| 13.414285714285716| 14.385714285714284|  6.185714285714285|  5.428571428571429|  7.385714285714286|  4.542857142857143|    1.7857142857142856|                  37.0|   2008.0|               47.64285714285714|                 52.35714285714286|  7.142857142857142| 12.628571428571428| 12.785714285714286|               13.9| 6.7285714285714295|  5.985714285714285|  8.399999999999999|  4.485714285714286|    1.6714285714285717|                  38.0|   2012.0|               47.58571428571429|                 52.41428571428571|  6.699999999999999|  12.94285714285714| 12.285714285714286| 13.271428571428572|  7.014285714285714|  6.214285714285714|  9.557142857142855|  4.771428571428571|    1.7714285714285714|                  38.0|   2016.0|              0.0076685714285714|                0.0079157142857142|  6.914285714285E-4| 0.1242857142857142|              0.121|              0.125|  6.828571428571E-4|             6.7E-4| 0.1058571428571428| 0.0522857142857142|     1.785714285714E-4|                  39.0|   2020.0|                            47.6|                              52.4|                6.8|              12.86|              12.47|              12.17|               6.27|               6.73|              10.77|               5.57|                  1.69|                  39.0|   2022.0| 69.5|                     27.0|                              0.5|  1.0|                                       0.0|                        2.8|2008.0|   0.0|
|2020.0| Democrat|0.0016201125280288|Alabama|Donald Trump|    10583.0|Republican|  60.32|       2020.0|Gross domestic pr...|235118.0|               47.55714285714286|                 52.44285714285715|  6.928571428571429| 12.842857142857142| 13.414285714285716| 14.385714285714284|  6.185714285714285|  5.428571428571429|  7.385714285714286|  4.542857142857143|    1.7857142857142856|                  37.0|   2008.0|               47.64285714285714|                 52.35714285714286|  7.142857142857142| 12.628571428571428| 12.785714285714286|               13.9| 6.7285714285714295|  5.985714285714285|  8.399999999999999|  4.485714285714286|    1.6714285714285717|                  38.0|   2012.0|               47.58571428571429|                 52.41428571428571|  6.699999999999999|  12.94285714285714| 12.285714285714286| 13.271428571428572|  7.014285714285714|  6.214285714285714|  9.557142857142855|  4.771428571428571|    1.7714285714285714|                  38.0|   2016.0|              0.0076685714285714|                0.0079157142857142|  6.914285714285E-4| 0.1242857142857142|              0.121|              0.125|  6.828571428571E-4|             6.7E-4| 0.1058571428571428| 0.0522857142857142|     1.785714285714E-4|                  39.0|   2020.0|                            47.6|                              52.4|                6.8|              12.86|              12.47|              12.17|               6.27|               6.73|              10.77|               5.57|                  1.69|                  39.0|   2022.0| 69.5|                     27.0|                              0.5|  1.0|                                       0.0|                        2.8|2008.0|   1.0|
+------+---------+------------------+-------+------------+-----------+----------+-------+-------------+--------------------+--------+--------------------------------+----------------------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+----------------------+----------------------+---------+--------------------------------+----------------------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+----------------------+----------------------+---------+--------------------------------+----------------------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+----------------------+----------------------+---------+--------------------------------+----------------------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+----------------------+----------------------+---------+--------------------------------+----------------------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+----------------------+----------------------+---------+-----+-------------------------+---------------------------------+-----+------------------------------------------+---------------------------+------+------+
only showing top 5 rows

In [16]:
# Show the column names
column_names = merged_spark_df.columns
print("Columns in the DataFrame:")
for name in column_names:
    print(name)

Columns in the DataFrame:
Year
candidate_2
Avg_Sentiment
state
candidate_2
total_votes
party
percent
election_year
economic_indicator
value
18_and_over_population_male_2008
18_and_over_population_female_2008
20_to_24_years_2008
25_to_34_years_2008
35_to_44_years_2008
45_to_54_years_2008
55_to_59_years_2008
60_to_64_years_2008
65_to_74_years_2008
75_to_84_years_2008
85_years_and_over_2008
median_age(years)_2008
year_2008
18_and_over_population_male_2012
18_and_over_population_female_2012
20_to_24_years_2012
25_to_34_years_2012
35_to_44_years_2012
45_to_54_years_2012
55_to_59_years_2012
60_to_64_years_2012
65_to_74_years_2012
75_to_84_years_2012
85_years_and_over_2012
median_age(years)_2012
year_2012
18_and_over_population_male_2016
18_and_over_population_female_2016
20_to_24_years_2016
25_to_34_years_2016
35_to_44_years_2016
45_to_54_years_2016
55_to_59_years_2016
60_to_64_years_2016
65_to_74_years_2016
75_to_84_years_2016
85_years_and_over_2016
median_age(years)_2016
year_2016
18_and_over_population_male_2020
18_and_over_population_female_2020
20_to_24_years_2020
25_to_34_years_2020
35_to_44_years_2020
45_to_54_years_2020
55_to_59_years_2020
60_to_64_years_2020
65_to_74_years_2020
75_to_84_years_2020
85_years_and_over_2020
median_age(years)_2020
year_2020
18_and_over_population_male_2022
18_and_over_population_female_2022
20_to_24_years_2022
25_to_34_years_2022
35_to_44_years_2022
45_to_54_years_2022
55_to_59_years_2022
60_to_64_years_2022
65_to_74_years_2022
75_to_84_years_2022
85_years_and_over_2022
median_age(years)_2022
year_2022
white
black_or_african_american
american_indian_and_alaska_native
asian
native_hawaiian_and_other_pacific-islander
hispanic_or_latino_any_race
year
winner

In [17]:
# Rename conflicting columns
from pyspark.sql.functions import col

merged_spark_df = merged_spark_df.withColumnRenamed("candidate", "candidate_2")

In [19]:
# Show the column names
column_names = merged_spark_df.columns
print("Columns in the DataFrame:")
for name in column_names:
    print(name)
# Rename columns with duplicates
new_column_names = []
seen_columns = {}

for name in column_names:
    if name in seen_columns:
        # Create a unique name by appending a counter suffix
        count = seen_columns[name]
        new_name = f"{name}_{count + 1}"
        seen_columns[name] += 1
    else:
        new_name = name
        seen_columns[name] = 1
    new_column_names.append(new_name)

# Create a DataFrame with renamed columns
for old_name, new_name in zip(column_names, new_column_names):
    if old_name != new_name:
        merged_spark_df = merged_spark_df.withColumnRenamed(old_name, new_name)

Columns in the DataFrame:
Year
candidate_2
Avg_Sentiment
state
candidate_2
total_votes
party
percent
election_year
economic_indicator
value
18_and_over_population_male_2008
18_and_over_population_female_2008
20_to_24_years_2008
25_to_34_years_2008
35_to_44_years_2008
45_to_54_years_2008
55_to_59_years_2008
60_to_64_years_2008
65_to_74_years_2008
75_to_84_years_2008
85_years_and_over_2008
median_age(years)_2008
year_2008
18_and_over_population_male_2012
18_and_over_population_female_2012
20_to_24_years_2012
25_to_34_years_2012
35_to_44_years_2012
45_to_54_years_2012
55_to_59_years_2012
60_to_64_years_2012
65_to_74_years_2012
75_to_84_years_2012
85_years_and_over_2012
median_age(years)_2012
year_2012
18_and_over_population_male_2016
18_and_over_population_female_2016
20_to_24_years_2016
25_to_34_years_2016
35_to_44_years_2016
45_to_54_years_2016
55_to_59_years_2016
60_to_64_years_2016
65_to_74_years_2016
75_to_84_years_2016
85_years_and_over_2016
median_age(years)_2016
year_2016
18_and_over_population_male_2020
18_and_over_population_female_2020
20_to_24_years_2020
25_to_34_years_2020
35_to_44_years_2020
45_to_54_years_2020
55_to_59_years_2020
60_to_64_years_2020
65_to_74_years_2020
75_to_84_years_2020
85_years_and_over_2020
median_age(years)_2020
year_2020
18_and_over_population_male_2022
18_and_over_population_female_2022
20_to_24_years_2022
25_to_34_years_2022
35_to_44_years_2022
45_to_54_years_2022
55_to_59_years_2022
60_to_64_years_2022
65_to_74_years_2022
75_to_84_years_2022
85_years_and_over_2022
median_age(years)_2022
year_2022
white
black_or_african_american
american_indian_and_alaska_native
asian
native_hawaiian_and_other_pacific-islander
hispanic_or_latino_any_race
year
winner

In [20]:
# Check column names to confirm duplicates
print("Current column names:")
print(merged_spark_df.columns)

Current column names:
['Year', 'candidate_2_2', 'Avg_Sentiment', 'state', 'candidate_2_2', 'total_votes', 'party', 'percent', 'election_year', 'economic_indicator', 'value', '18_and_over_population_male_2008', '18_and_over_population_female_2008', '20_to_24_years_2008', '25_to_34_years_2008', '35_to_44_years_2008', '45_to_54_years_2008', '55_to_59_years_2008', '60_to_64_years_2008', '65_to_74_years_2008', '75_to_84_years_2008', '85_years_and_over_2008', 'median_age(years)_2008', 'year_2008', '18_and_over_population_male_2012', '18_and_over_population_female_2012', '20_to_24_years_2012', '25_to_34_years_2012', '35_to_44_years_2012', '45_to_54_years_2012', '55_to_59_years_2012', '60_to_64_years_2012', '65_to_74_years_2012', '75_to_84_years_2012', '85_years_and_over_2012', 'median_age(years)_2012', 'year_2012', '18_and_over_population_male_2016', '18_and_over_population_female_2016', '20_to_24_years_2016', '25_to_34_years_2016', '35_to_44_years_2016', '45_to_54_years_2016', '55_to_59_years_2016', '60_to_64_years_2016', '65_to_74_years_2016', '75_to_84_years_2016', '85_years_and_over_2016', 'median_age(years)_2016', 'year_2016', '18_and_over_population_male_2020', '18_and_over_population_female_2020', '20_to_24_years_2020', '25_to_34_years_2020', '35_to_44_years_2020', '45_to_54_years_2020', '55_to_59_years_2020', '60_to_64_years_2020', '65_to_74_years_2020', '75_to_84_years_2020', '85_years_and_over_2020', 'median_age(years)_2020', 'year_2020', '18_and_over_population_male_2022', '18_and_over_population_female_2022', '20_to_24_years_2022', '25_to_34_years_2022', '35_to_44_years_2022', '45_to_54_years_2022', '55_to_59_years_2022', '60_to_64_years_2022', '65_to_74_years_2022', '75_to_84_years_2022', '85_years_and_over_2022', 'median_age(years)_2022', 'year_2022', 'white', 'black_or_african_american', 'american_indian_and_alaska_native', 'asian', 'native_hawaiian_and_other_pacific-islander', 'hispanic_or_latino_any_race', 'year', 'winner']

In [21]:
from collections import Counter

# Count occurrences of each column name
column_counts = Counter(column_names)

# List duplicates
duplicates = {col: count for col, count in column_counts.items() if count > 1}
print("Duplicate columns and their counts:")
print(duplicates)

Duplicate columns and their counts:
{'candidate_2': 2}

In [22]:
# Initialize a dictionary to keep track of column name counts
name_count = {}
new_column_names = []

for name in column_names:
    if name in name_count:
        # Create a unique name by appending a counter suffix
        name_count[name] += 1
        new_name = f"{name}_{name_count[name]}"
    else:
        new_name = name
        name_count[name] = 0
    new_column_names.append(new_name)

# Create a DataFrame with renamed columns
for old_name, new_name in zip(column_names, new_column_names):
    if old_name != new_name:
        merged_spark_df = merged_spark_df.withColumnRenamed(old_name, new_name)

# Verify column names
print("Updated column names:")
print(merged_spark_df.columns)

Updated column names:
['Year', 'candidate_2_2', 'Avg_Sentiment', 'state', 'candidate_2_2', 'total_votes', 'party', 'percent', 'election_year', 'economic_indicator', 'value', '18_and_over_population_male_2008', '18_and_over_population_female_2008', '20_to_24_years_2008', '25_to_34_years_2008', '35_to_44_years_2008', '45_to_54_years_2008', '55_to_59_years_2008', '60_to_64_years_2008', '65_to_74_years_2008', '75_to_84_years_2008', '85_years_and_over_2008', 'median_age(years)_2008', 'year_2008', '18_and_over_population_male_2012', '18_and_over_population_female_2012', '20_to_24_years_2012', '25_to_34_years_2012', '35_to_44_years_2012', '45_to_54_years_2012', '55_to_59_years_2012', '60_to_64_years_2012', '65_to_74_years_2012', '75_to_84_years_2012', '85_years_and_over_2012', 'median_age(years)_2012', 'year_2012', '18_and_over_population_male_2016', '18_and_over_population_female_2016', '20_to_24_years_2016', '25_to_34_years_2016', '35_to_44_years_2016', '45_to_54_years_2016', '55_to_59_years_2016', '60_to_64_years_2016', '65_to_74_years_2016', '75_to_84_years_2016', '85_years_and_over_2016', 'median_age(years)_2016', 'year_2016', '18_and_over_population_male_2020', '18_and_over_population_female_2020', '20_to_24_years_2020', '25_to_34_years_2020', '35_to_44_years_2020', '45_to_54_years_2020', '55_to_59_years_2020', '60_to_64_years_2020', '65_to_74_years_2020', '75_to_84_years_2020', '85_years_and_over_2020', 'median_age(years)_2020', 'year_2020', '18_and_over_population_male_2022', '18_and_over_population_female_2022', '20_to_24_years_2022', '25_to_34_years_2022', '35_to_44_years_2022', '45_to_54_years_2022', '55_to_59_years_2022', '60_to_64_years_2022', '65_to_74_years_2022', '75_to_84_years_2022', '85_years_and_over_2022', 'median_age(years)_2022', 'year_2022', 'white', 'black_or_african_american', 'american_indian_and_alaska_native', 'asian', 'native_hawaiian_and_other_pacific-islander', 'hispanic_or_latino_any_race', 'year', 'winner']

In [24]:
from collections import Counter

# Count occurrences of each column name
column_counts = Counter(merged_spark_df.columns)

# List duplicates
duplicates = {col: count for col, count in column_counts.items() if count > 1}
print("Duplicate columns and their counts:")
print(duplicates)
from pyspark.sql.functions import col

# Get current column names
column_names = merged_spark_df.columns

# Initialize a dictionary to keep track of column name counts
name_count = {}
new_column_names = []

for name in column_names:
    if name in name_count:
        # Increment the counter for duplicate names
        name_count[name] += 1
        new_name = f"{name}_{name_count[name]}"
    else:
        # First occurrence of the name
        name_count[name] = 0
        new_name = name
    new_column_names.append(new_name)

# Create a DataFrame with renamed columns
for old_name, new_name in zip(column_names, new_column_names):
    if old_name != new_name:
        merged_spark_df = merged_spark_df.withColumnRenamed(old_name, new_name)

# Verify column names
print("Updated column names:")
print(merged_spark_df.columns)

Duplicate columns and their counts:
{'candidate_2_2': 2}
Updated column names:
['Year', 'candidate_2_2_1', 'Avg_Sentiment', 'state', 'candidate_2_2_1', 'total_votes', 'party', 'percent', 'election_year', 'economic_indicator', 'value', '18_and_over_population_male_2008', '18_and_over_population_female_2008', '20_to_24_years_2008', '25_to_34_years_2008', '35_to_44_years_2008', '45_to_54_years_2008', '55_to_59_years_2008', '60_to_64_years_2008', '65_to_74_years_2008', '75_to_84_years_2008', '85_years_and_over_2008', 'median_age(years)_2008', 'year_2008', '18_and_over_population_male_2012', '18_and_over_population_female_2012', '20_to_24_years_2012', '25_to_34_years_2012', '35_to_44_years_2012', '45_to_54_years_2012', '55_to_59_years_2012', '60_to_64_years_2012', '65_to_74_years_2012', '75_to_84_years_2012', '85_years_and_over_2012', 'median_age(years)_2012', 'year_2012', '18_and_over_population_male_2016', '18_and_over_population_female_2016', '20_to_24_years_2016', '25_to_34_years_2016', '35_to_44_years_2016', '45_to_54_years_2016', '55_to_59_years_2016', '60_to_64_years_2016', '65_to_74_years_2016', '75_to_84_years_2016', '85_years_and_over_2016', 'median_age(years)_2016', 'year_2016', '18_and_over_population_male_2020', '18_and_over_population_female_2020', '20_to_24_years_2020', '25_to_34_years_2020', '35_to_44_years_2020', '45_to_54_years_2020', '55_to_59_years_2020', '60_to_64_years_2020', '65_to_74_years_2020', '75_to_84_years_2020', '85_years_and_over_2020', 'median_age(years)_2020', 'year_2020', '18_and_over_population_male_2022', '18_and_over_population_female_2022', '20_to_24_years_2022', '25_to_34_years_2022', '35_to_44_years_2022', '45_to_54_years_2022', '55_to_59_years_2022', '60_to_64_years_2022', '65_to_74_years_2022', '75_to_84_years_2022', '85_years_and_over_2022', 'median_age(years)_2022', 'year_2022', 'white', 'black_or_african_american', 'american_indian_and_alaska_native', 'asian', 'native_hawaiian_and_other_pacific-islander', 'hispanic_or_latino_any_race', 'year', 'winner']

In [25]:
# List of columns to drop
columns_to_drop = ['candidate_2_2']

# Drop columns from the DataFrame
for col in columns_to_drop:
    if col in merged_spark_df.columns:
        merged_spark_df = merged_spark_df.drop(col)

# Verify updated column names
print("Columns after dropping:")
print(merged_spark_df.columns)

Columns after dropping:
['Year', 'candidate_2_2_1', 'Avg_Sentiment', 'state', 'candidate_2_2_1', 'total_votes', 'party', 'percent', 'election_year', 'economic_indicator', 'value', '18_and_over_population_male_2008', '18_and_over_population_female_2008', '20_to_24_years_2008', '25_to_34_years_2008', '35_to_44_years_2008', '45_to_54_years_2008', '55_to_59_years_2008', '60_to_64_years_2008', '65_to_74_years_2008', '75_to_84_years_2008', '85_years_and_over_2008', 'median_age(years)_2008', 'year_2008', '18_and_over_population_male_2012', '18_and_over_population_female_2012', '20_to_24_years_2012', '25_to_34_years_2012', '35_to_44_years_2012', '45_to_54_years_2012', '55_to_59_years_2012', '60_to_64_years_2012', '65_to_74_years_2012', '75_to_84_years_2012', '85_years_and_over_2012', 'median_age(years)_2012', 'year_2012', '18_and_over_population_male_2016', '18_and_over_population_female_2016', '20_to_24_years_2016', '25_to_34_years_2016', '35_to_44_years_2016', '45_to_54_years_2016', '55_to_59_years_2016', '60_to_64_years_2016', '65_to_74_years_2016', '75_to_84_years_2016', '85_years_and_over_2016', 'median_age(years)_2016', 'year_2016', '18_and_over_population_male_2020', '18_and_over_population_female_2020', '20_to_24_years_2020', '25_to_34_years_2020', '35_to_44_years_2020', '45_to_54_years_2020', '55_to_59_years_2020', '60_to_64_years_2020', '65_to_74_years_2020', '75_to_84_years_2020', '85_years_and_over_2020', 'median_age(years)_2020', 'year_2020', '18_and_over_population_male_2022', '18_and_over_population_female_2022', '20_to_24_years_2022', '25_to_34_years_2022', '35_to_44_years_2022', '45_to_54_years_2022', '55_to_59_years_2022', '60_to_64_years_2022', '65_to_74_years_2022', '75_to_84_years_2022', '85_years_and_over_2022', 'median_age(years)_2022', 'year_2022', 'white', 'black_or_african_american', 'american_indian_and_alaska_native', 'asian', 'native_hawaiian_and_other_pacific-islander', 'hispanic_or_latino_any_race', 'year', 'winner']

In [26]:
# List of columns to drop
columns_to_drop = ['candidate_2_2_1']

# Drop columns from the DataFrame
for col in columns_to_drop:
    if col in merged_spark_df.columns:
        merged_spark_df = merged_spark_df.drop(col)

# Verify updated column names
print("Columns after dropping:")
print(merged_spark_df.columns)

Columns after dropping:
['Year', 'Avg_Sentiment', 'state', 'total_votes', 'party', 'percent', 'election_year', 'economic_indicator', 'value', '18_and_over_population_male_2008', '18_and_over_population_female_2008', '20_to_24_years_2008', '25_to_34_years_2008', '35_to_44_years_2008', '45_to_54_years_2008', '55_to_59_years_2008', '60_to_64_years_2008', '65_to_74_years_2008', '75_to_84_years_2008', '85_years_and_over_2008', 'median_age(years)_2008', 'year_2008', '18_and_over_population_male_2012', '18_and_over_population_female_2012', '20_to_24_years_2012', '25_to_34_years_2012', '35_to_44_years_2012', '45_to_54_years_2012', '55_to_59_years_2012', '60_to_64_years_2012', '65_to_74_years_2012', '75_to_84_years_2012', '85_years_and_over_2012', 'median_age(years)_2012', 'year_2012', '18_and_over_population_male_2016', '18_and_over_population_female_2016', '20_to_24_years_2016', '25_to_34_years_2016', '35_to_44_years_2016', '45_to_54_years_2016', '55_to_59_years_2016', '60_to_64_years_2016', '65_to_74_years_2016', '75_to_84_years_2016', '85_years_and_over_2016', 'median_age(years)_2016', 'year_2016', '18_and_over_population_male_2020', '18_and_over_population_female_2020', '20_to_24_years_2020', '25_to_34_years_2020', '35_to_44_years_2020', '45_to_54_years_2020', '55_to_59_years_2020', '60_to_64_years_2020', '65_to_74_years_2020', '75_to_84_years_2020', '85_years_and_over_2020', 'median_age(years)_2020', 'year_2020', '18_and_over_population_male_2022', '18_and_over_population_female_2022', '20_to_24_years_2022', '25_to_34_years_2022', '35_to_44_years_2022', '45_to_54_years_2022', '55_to_59_years_2022', '60_to_64_years_2022', '65_to_74_years_2022', '75_to_84_years_2022', '85_years_and_over_2022', 'median_age(years)_2022', 'year_2022', 'white', 'black_or_african_american', 'american_indian_and_alaska_native', 'asian', 'native_hawaiian_and_other_pacific-islander', 'hispanic_or_latino_any_race', 'year', 'winner']

In [28]:
# List of columns to drop
columns_to_drop = ['year']

# Drop columns from the DataFrame
for col in columns_to_drop:
    if col in merged_spark_df.columns:
        merged_spark_df = merged_spark_df.drop(col)

# Verify updated column names
print("Columns after dropping:")
print(merged_spark_df.columns)

Columns after dropping:
['Avg_Sentiment', 'state', 'total_votes', 'party', 'percent', 'election_year', 'economic_indicator', 'value', '18_and_over_population_male_2008', '18_and_over_population_female_2008', '20_to_24_years_2008', '25_to_34_years_2008', '35_to_44_years_2008', '45_to_54_years_2008', '55_to_59_years_2008', '60_to_64_years_2008', '65_to_74_years_2008', '75_to_84_years_2008', '85_years_and_over_2008', 'median_age(years)_2008', 'year_2008', '18_and_over_population_male_2012', '18_and_over_population_female_2012', '20_to_24_years_2012', '25_to_34_years_2012', '35_to_44_years_2012', '45_to_54_years_2012', '55_to_59_years_2012', '60_to_64_years_2012', '65_to_74_years_2012', '75_to_84_years_2012', '85_years_and_over_2012', 'median_age(years)_2012', 'year_2012', '18_and_over_population_male_2016', '18_and_over_population_female_2016', '20_to_24_years_2016', '25_to_34_years_2016', '35_to_44_years_2016', '45_to_54_years_2016', '55_to_59_years_2016', '60_to_64_years_2016', '65_to_74_years_2016', '75_to_84_years_2016', '85_years_and_over_2016', 'median_age(years)_2016', 'year_2016', '18_and_over_population_male_2020', '18_and_over_population_female_2020', '20_to_24_years_2020', '25_to_34_years_2020', '35_to_44_years_2020', '45_to_54_years_2020', '55_to_59_years_2020', '60_to_64_years_2020', '65_to_74_years_2020', '75_to_84_years_2020', '85_years_and_over_2020', 'median_age(years)_2020', 'year_2020', '18_and_over_population_male_2022', '18_and_over_population_female_2022', '20_to_24_years_2022', '25_to_34_years_2022', '35_to_44_years_2022', '45_to_54_years_2022', '55_to_59_years_2022', '60_to_64_years_2022', '65_to_74_years_2022', '75_to_84_years_2022', '85_years_and_over_2022', 'median_age(years)_2022', 'year_2022', 'white', 'black_or_african_american', 'american_indian_and_alaska_native', 'asian', 'native_hawaiian_and_other_pacific-islander', 'hispanic_or_latino_any_race', 'winner']

In [ ]:
# Save the merged DataFrame to CSV
merged_spark_df.write.csv("lastmerged_data.csv", header=True)

24/09/12 00:59:11 WARN TaskSetManager: Stage 9 contains a task of very large size (35865 KiB). The maximum recommended task size is 1000 KiB.

In [ ]:
# Get column names
columns = merged_spark_df.columns
print(columns)